# Ignore compiled Common Lisp binaries
*.fasl
*.dx64fsl

# Ignore backup and temporary editor files
*~
\#*\#

# Ignore generated output files in examples
example/**/run_*.lisp

# Ignore screenshots
*.png

# Ignore untracked binaries
example/05_dockerfile_meta/source01/examples/03_ai_env/bin/

# Ignore local environment files
.env
