# Ignore compiled Common Lisp binaries
*.fasl
*.dx64fsl

# Ignore backup and temporary editor files
*~
\#*\#

# Ignore generated output files in examples
example/**/run_*.lisp

# Ignore screenshots
*.png
